// Cards

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: -1rem;
	margin-bottom: -1rem;

	// Card
	.card {
		padding-left: 1rem;
		padding-bottom: 1rem;
		flex: 0 0 100%;
		width: 100%;

		@media (min-width: $sm) {
			flex: 0 0 50%;
			width: 50%;
		}

		@media (min-width: $md) {
			flex: 0 0 25%;
			width: 25%;
		}

		@media (min-width: $lg) {
			flex: 0 0 20%;
			width: 20%;
		}
	}

	// Avatar
	.card-avatar {
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
		object-fit: cover;
		min-width: 10rem;
		width: 100%;
	}

	// Body
	.card-body {
		background: $brand;
		border-radius: 0.25rem;
		color: $white;
	}

	// Content
	.card-content {
		padding: 0.5rem 1rem;
	}
}