// Cards

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: -1rem;
	margin-top: -1rem;

	// Card
	.card {
		padding-left: 1rem;
		padding-top: 1rem;
	}

	// Avatar
	.card-avatar {
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
		height: 16rem;
		width: 16rem;
	}

	// Body
	.card-body {
		background: $brand;
		border-radius: 0.25rem;
		color: $white;
	}

	// Content
	.card-content {
		padding: 0.5rem 1rem;
	}
}